/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --third-color: ;
    --forth-color: ;

    --section-padding: 60px;
    --section-background: #f6f6f6;

    --heading-color: ;
    --pragrgh-color: ;

    --line-h: 1.4;

    --main-duration: 0.5s;
}


/************************** Colors ************************/
/* group-1: 

*/


html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* ------------------- Start Questions ---------------- */

main {
    background-color: #777;
    padding: var(--section-padding) 0;
}

main .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

main .container .ques {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
}

main .container .ques .title {
    background-color: #0aa;
    margin-bottom: 10px;
}

main .container .ques .title h3,
main .container .ques .title p {
    margin: 0;
}

main .container .ques .ques-cont {
    border: 2px solid black;
    text-align: center;
    background-color: aqua;
}

main .container .ques .chooses {
    border: 2px solid black;
    padding: 10px;
}

main .container .ques .chooses ul {
    list-style-type: auto;
}

/* ------------------- End Questions ---------------- */